body {
    background-color: #30363c;
    color: white;
}

.card {
    max-width: 800px;
}

.card-body {
    background-color: #30363c;
}

.card-img-top {
    width: 100%;
    height: auto;
    background-size: cover;
}

.input-group-text {
    color:white; 
    background-color: #30363c
}