@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Comfortaa:wght@300&family=Orbitron:wght@400;600&display=swap');

/* -- Google Fonts -- */
/* -- body h1, h2, h3, h4, h5, h6 {
    font-family: 'Audiowide', sans-serif;
} -- */

body h1, h2, h3, h4, h5, h6, p, button, nav, form, .btn {
    font-family: 'Comfortaa', sans-serif;
}

.table-font {
    font-family: 'Comfortaa', sans-serif;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

/* -- END of Google Fonts -- */

body {
    background-color: #30363c;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-logo {
    width: 100%;
    height: auto;
}

.hero-div {
    background-color: #212529;
}

.hero-div img {
    border-radius: 15%;
}

.card {
    max-width: 850px;
    border: 0px;
}

.card-img-overlay .card-title {
    font-size: 50px
}

.card-body {
    background-color: #212529;
}

.card-img-top {
    width: 100%;
    max-height: 250px;
    background-size: cover;
    background-color: #212529;
}

.carousel {
    width: 100%;
    padding: 0px;
}

.carousel-item img {
    max-height: 600px;
    width: auto;
    background-size: contain; 
    background-position: center;
    overflow: hidden;
}

.carousel-caption {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    padding: 25px;
    right: 25%;
    left: 25%;
    border-radius: 8px;
    top: 10%;
    bottom: auto;
}

.card-icons {
    font-size: 40px;
}

.sponsor-banner-carousel {
    max-width: 900px;
}

.login-card-img {
    width: 100%;
}

.login-card-img-holder {
    background-color: #212529;
}

.card-img-overlay {
    padding: 3rem;
    top: 40px;
}

.two-button {
    margin: 0px; 
}

.form-div {
    display: block;
    text-align: center;
}

.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.hidden-field {
    display: none;
}

.input-group-text {
    color:white; 
    background-color: #30363c
}

.form-submit-button {
    text-align: center;
    margin: auto;
}

footer {
   margin-top: auto;
}