body {
    background-color: #30363c;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card {
    max-width: 850px;
    border: 0px;
}

.card-img-overlay .card-title {
    font-size: 50px
}

.card-body {
    background-color: #212529;
}

.card-img-top {
    width: 100%;
    max-height: 250px;
    background-size: cover;
    background-color: #212529;
}

.login-card-img {
    width: 100%;
}

.login-card-img-holder {
    background-color: #212529;
}

.card-img-overlay {
    padding: 3rem;
    top: 40px;
}

.form-div {
    display: block;
    text-align: center;
}

.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.input-group-text {
    color:white; 
    background-color: #30363c
}

.form-submit-button {
    text-align: center;
    margin: auto;
}

footer {
   margin-top: auto;
}