@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Comfortaa:wght@300&family=Orbitron:wght@400;600&display=swap');

/* -- Google Fonts -- */

body h1, h2, h3, h4, h5, h6, p, button, nav, form, .btn {
    font-family: 'Comfortaa', sans-serif;
}

.table-font {
    font-family: 'Comfortaa', sans-serif;
}

/* -- END of Google Fonts -- */

/* -- League Table numbering for Rank column. Code snippet copied from StackOverflow -- */

.leagueTable
{
    counter-reset: rowNumber;
}

.leagueTable tr > td:first-child
{
    counter-increment: rowNumber;
}

.leagueTable tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

/* -- END League Table numbering for Rank column -- */

/* -- Global Styles -- */

.container-fluid {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #30363c;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card {
    max-width: 850px;
    border: 0px;
    background-color: #212529;
}

.card-img-overlay .card-title {
    font-size: 50px
}

.card-body {
    background-color: #212529;
}

.sponsor-banner-carousel {
    max-width: 900px;
}

.card-icons {
    font-size: 40px;
}

.card-img-overlay {
    padding: 3rem;
    top: 40px;
}

.two-button {
    margin: 0px; 
}

.form-div {
    display: block;
    text-align: center;
}

.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.hidden-field {
    display: none;
}

.input-group-text {
    color:white; 
    background-color: #30363c
}

.form-submit-button {
    text-align: center;
    margin: auto;
}

footer {
   margin-top: auto;
}

/* -- END of Global Styles -- */

/* -- Introduction section on index.html -- */

.hero-div {
    background-color: #212529;
}

.hero-div img {
    border-radius: 15%;
}

.card-img-top {
    width: 100%;
    max-height: 250px;
    background-size: cover;
    background-color: #212529;
}

.carousel {
    width: 100%;
    padding: 0px;
}

.carousel-item img {
    max-height: 600px;
    width: auto;
    background-size: contain; 
    background-position: center;
    overflow: hidden;
}

.carousel-caption {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    padding: 25px;
    right: 25%;
    left: 25%;
    border-radius: 8px;
    top: 10%;
    bottom: auto;
}

/* -- END of Introduction section on index.html -- */

/* -- Login.html -- */

.login-card-img {
    width: 100%;
}

.login-card-img-holder {
    background-color: #212529;
}

/* -- END of Login.html -- */

/* -- Media Queries: -- */

/* -- Media Query 1. For devices with a screen below 1000px wide  -- */

@media screen and (max-width: 1000px) {
    #homeCarousel .carousel-item {
        min-height: 450px;
    }

    #homeCarousel .carousel-item img {
        object-fit: cover;
        min-height: 450px;
    }

    .carousel-caption {
        right: 10%;
        left: 10%;
    }

    .navbar-logo {
        max-height: 45px;
    }

    .navbar-brand {
        margin: 0px;
    }

    .introduction {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-intro {
        margin-left: 0px!important;
        margin-right: 0px!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .form {
        width: 90%!important;
    }

    .form-div {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .card {
        width: 100%!important;
        background-color: #212529;
    }

    #sponsorCarousel .carousel-item {
        max-width: 100%;
    }
}

/* -- /END of Media Query 1 -- */