{% extends "base.html" %}
{% block content %}

    <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="card border-danger text-center w-75 my-4 mx-5 mx-auto">
                    <div class="login-card-img-holder pt-5">
                    <img src="{{ url_for('static', filename='images/www-vhv-rs-Daco_5283638-100px.png') }}" class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                    </div>
                    <div class="card-body top-50 start-50">
                        <h3 class="card-title pt-4 pb-4">Add Match Result</h3>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <form action="{{ url_for('addmatch') }}" class="form w-75 needs-validation" method="POST" novalidate>
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="date"><i class="far fa-calendar-alt"></i></span>
                                                <input type="date" name="date" class="form-control" placeholder="Enter Match Date" aria-label="date" aria-describedby="date" autocomplete="date" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please add a valid Date.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="referee"><i class="far fa-eye"></i></span>
                                                <select id="referee" name="referee" class="validate form-control form-select" required>
                                                    <option value="" disabled selected>Choose Referee</option>
                                                {% for referee in referee %}
                                                    <option value="{{ referee.surname }}, {{ referee.firstname }} '{{ referee.nickname }}'">{{ referee.surname }}, {{ referee.firstname }} '{{ referee.nickname }}'</option>
                                                {% endfor %}
                                                </select>
                                                <label for="referee"></label>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Referee.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="playerone"><i class="fas fa-user-shield"></i></span>
                                                <select id="playerone" name="playerone" class="validate form-control form-select" required>
                                                    <option value="" disabled selected>Choose Player 1</option>
                                                {% for playerone in playerone %}
                                                    <option value="{{ playerone.surname }}, {{ playerone.firstname }} '{{ playerone.nickname }}'">{{ playerone.surname }}, {{ playerone.firstname }} '{{ playerone.nickname }}'</option>
                                                {% endfor %}
                                                </select>
                                                <label for="player1"></label>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Referee.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
                                                <input type="password" name="password" class="form-control" placeholder="Select Player 1" aria-label="password"" aria-describedby="password" autocomplete="new-password" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Password.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
                                                <input type="password" name="password" class="form-control" placeholder="Enter Player 1 Matches Won" aria-label="password"" aria-describedby="password" autocomplete="new-password" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Password.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
                                                <input type="password" name="password" class="form-control" placeholder="Select Player 2" aria-label="password"" aria-describedby="password" autocomplete="new-password" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Password.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
                                                <input type="password" name="password" class="form-control" placeholder="Enter Player 2 Matches Won" aria-label="password"" aria-describedby="password" autocomplete="new-password" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Password.
                                                </div>
                                            </div>
                                            <div class="input-group m-auto text-center">
                                                <button type="submit" class="btn btn-primary mb-3 form-submit-button">Log In</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}