{% extends "base.html" %}
{% block content %}

   <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="pt-1 text-center">
                    <a class="btn btn-primary" href="{{ url_for('admin_home') }}"> <i class="far fa-arrow-alt-circle-left"></i> Back </a>
                </div>
                <div class="card border-danger text-center w-75 my-3 mx-5 mx-auto">
                    <div class="login-card-img-holder p-5 pb-3">
                    <img src="{{ url_for('static', filename='images/www-vhv-rs-Daco_5283638-100px.png') }}" class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                    </div>
                    <div class="card-body top-50 start-50">
                        <h3 class="card-title pb-4">Add a League</h3>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <form action="{{ url_for('add_league') }}" class="form w-75 needs-validation" method="POST" novalidate>
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="name"><i class="fas fa-folder-plus"></i></span>
                                                <input type="text" name="name" class="form-control" placeholder="New League Name" aria-label="name" aria-describedby="name" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type a Name for this League.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="description"><i class="fas fa-comment-alt"></i></span>
                                                <input type="text" name="description" class="form-control" placeholder="Description" aria-label="description" aria-describedby="description" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type a Name for this League.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="start_date"><i class="far fa-calendar-alt"></i></span>
                                                <input type="date" name="start_date" class="form-control" placeholder="Enter Start Date" aria-label="start_date" aria-describedby="start_date" autocomplete="date" required>
                                                <label for="start_date"></label>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please add a valid Date.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="end_date"><i class="far fa-calendar-alt"></i></span>
                                                <input type="date" name="end_date" class="form-control" placeholder="Enter Start Date" aria-label="end_date" aria-describedby="end_date" autocomplete="date" required>
                                                <label for="end_date"></label>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please add a valid Date.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4 hidden-field">
                                                <input type="hidden" name="participants" value="All users in user">
                                            </div>
                                            <div class="input-group m-auto text-center">
                                                <button type="submit" class="btn btn-primary mb-3 form-submit-button">Add League</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-1 text-center">
                    <a class="btn btn-primary" href="{{ url_for('admin_home') }}"> <i class="far fa-arrow-alt-circle-left"></i> Back </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}