{% extends "base.html" %}
{% set active_page = "menu6" %}
{% block content %}

   <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="text-center">
                    {{ playerhome }}
                </h4>
            </div>
        </div>
    </div>
    <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="card border-danger text-center rounded-5 shadow-lg w-75 my-4 mx-5 mx-auto">
                    <div class="login-card-img-holder pt-5">
                    <img src="{{ url_for('static', filename='images/www-vhv-rs-Daco_5283638-100px.png') }}" class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                    </div>
                    <div class="card-body top-50 start-50 text-shadow-1">
                        <h2>Admin Home</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Player options - Bootstrap custom cards-->
    <div class="container px-4 pt-2" id="custom-cards">
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-4">
            <div class="col card-group">
                <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                        <i class="fas fa-star text-center card-icons"></i>
                        <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">Add League</h4>
                        <p>Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('addleague') }}"> Get Stats</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                        <i class="fas fa-clipboard-list card-icons"></i>
                        <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">Add Player</h4>
                        <p>Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('addplayer') }}"> Get List</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                        <i class="fas fa-poll card-icons"></i>
                        <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">Add Admin</h4>
                        <p>Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('addmatch') }}"> Add Result</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pb-5">
            <div class="col card-group">
                <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                        <i class="fas fa-id-badge text-center card-icons"></i>
                        <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">Edit League</h4>
                        <p>Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('editleague') }}"> Find Player</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                        <i class="fas fa-history card-icons"></i>
                        <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">Edit Match</h4>
                        <p>Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('editmatch') }}"> View History</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
                    <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                        <i class="fas fa-user-edit card-icons"></i>
                        <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">Edit Player</h4>
                        <p>Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('editplayer') }}"> Edit Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap custom 'Club Features' cards-->
    
{% endblock %}