<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="static/images/favicons/safari-pinned-tab.svg" color="#0e1011">
    <link rel="shortcut icon" href="static/images/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Pool Club">
    <meta name="application-name" content="Pool Club">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="static/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="static/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/imgbin-magic-8-ball-80px-favicon.png') }}">
    {% block styles %}
    {% endblock %}
    <title>Cill na Martra | Pool Club</title>
</head>
<body>

        <header class="sticky-top">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand px-2" href="{{ url_for('user') }}"> <img src="{{ url_for('static', filename='images/navbar-logo/cpc-navbar-logo-new.png') }}" class="navbar-logo" alt="CPC Logo"> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fas fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end ml-auto" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            {% if session.user %}
                                <li class="nav-item">
                                    <a class="nav-link px-3 {{ 'active' if active_page == 'menu3' else '' }}" aria-current="page" href="{{ url_for('user') }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 {{ 'active' if active_page == 'menu4' else '' }}" href="{{ url_for('playerhome', firstname=session['user']) }}">MyHome</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 {{ 'active' if active_page == 'menu5' else '' }}" href="{{ url_for('logout') }}">Log Out <i class="fas fa-sign-out-alt"></i> </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 {{ 'active' if active_page == 'menu6' else '' }}" href="{{ url_for('adminhome') }}">Admin <i class="fas fa-cog"></i> </a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link px-3 {{ 'active' if active_page == 'menu3' else '' }}" aria-current="page" href="{{ url_for('user') }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 {{ 'active' if active_page == 'menu1' else '' }}" href="{{ url_for('register') }}">Join</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link px-3 {{ 'active' if active_page == 'menu2' else '' }}" href="{{ url_for('login') }}">Log In <i class="fa fa-fw fa-user"></i> </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 text-center">
                    <!-- flash messages -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="mt-4 flash-message">
                                    <h4>{{ message }}</h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>

    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>
        <!-- Bootstrap Carousel for sponsor banners and messaging -->
    <div class="container-fluid">
        <div class="row justify-content-center mb-3">
            <div class="col-12 mt-5 text-center" >
                <h2>Visit our Sponsors</h2>
            </div>
            <div id="sponsorCarousel" class="carousel sponsor-banner-carousel col-6 slide text-center p-2 pb-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <a href="https://www.delta.com/" target=”_blank”><img src="{{ url_for('static', filename='images/banners/cpc-delta-banner-900x100.png') }}" class="d-block w-100" alt="Delta Airlines banner"></a> 
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <a href="https://www.audible.co.uk/" target=”_blank”><img src="{{ url_for('static', filename='images/banners/cpc-audible-banner-900x100px.png') }}" class="d-block w-100" alt="Audible banner"></a> 
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <a href="https://www.lenovo.com/ie/en/windows10/" target=”_blank”><img src="{{ url_for('static', filename='images/banners/cpc-windows10-banner-900x100px.png') }}" class="d-block w-100" alt="Windows 10 banner"></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap Carousel for sponsor banners and messaging -->
    <footer class="bg-dark text-center text-lg-start">
        <div class="text-center py-3">
            <a class="navbar-brand px-2" href="{{ url_for('user') }}"> <img src="{{ url_for('static', filename='images/navbar-logo/cpc-navbar-logo-new.png') }}" alt="CPC Logo"> </a>
        </div>
        <div class="text-center pb-2">
            <i class="far fa-copyright"></i> 2021
        </div>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
	<script>
	(function() {
		emailjs.init("user_Pe5jUSL1Dxa5TL2sMYM0L");
	})();
	</script>

    {% block scripts %}
    {% endblock %}
</body>
</html>