{% extends "base.html" %}
{% block content %}

    <!-- Error Exception pae view -->
    <section>
        <div class="container-fluid ">
            <div class="row my-5 justify-content-center">
                <div class="col-6 my-5 py-5 text-center">
                    <H1>Ooops! Something went wrong..</H1>
                    <p class="lead">Click here to return to the Homepage</p>
                    <!-- Button to Homepage -->
                    <a class="btn btn-primary" href="{{ url_for('user') }}"> <i class="far fa-arrow-alt-circle-left"></i>
                        Home </a>
                    <!-- END of Button to Homepage -->
                </div>
            </div>
        </div>
    </section>
    <!-- END of Error Exception pae view -->
{% endblock %}