{% extends "base.html" %}
{% block content %}

    <div class="container-fluid ">
        <div class="row my-5 justify-content-center">
            <div class="col-6 my-5 py-5 text-center">
                <H1>Ooops! 404 Error</H1>
                <H2>That page was not found</H2>
                <p class="lead">Click here to return to the Homepage</p>
                <a class="btn btn-primary" href="{{ url_for('user') }}"> <i class="far fa-arrow-alt-circle-left"></i> Home </a>
            </div>
        </div>
    </div>
    
{% endblock %}