{% extends "base.html" %}
{% set active_page = "menu3" %}
{% block content %}

    <!-- Bootstrap Carousel for hero banners and messaging -->
    <div class="container-fluid">
        <div class="row">
            <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{{ url_for('static', filename='images/carousel/cpc-carouselkenneth-john-dela-vega-IxhEXghSWEA-unsplash-1719x600.jpeg') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                        <div class="container">
                            <div class="carousel-caption">
                                <h1><strong class=display-1" >SHARKS</strong> need apply..</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000"">
                        <img height="100%" src="{{ url_for('static', filename='images/carousel/cpc-carousel-carla-oliveira-21FqSKZQGzI-unsplash-1428x600.jpeg') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Take a <strong>BREAK</strong> with us..</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000"">
                        <img height="100%" src="{{ url_for('static', filename='images/carousel/cpc-carousel-markus-winkler-Dtz_-wZV4Os-unsplash-1660x600.jpeg') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Compete. <strong>WIN.</strong> Repeat.</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap Carousel for hero banners and messaging -->
    <!-- Club introduction messaging -->
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 py-4 text-center rounded shadow hero-div">
                <h1 class="display-4 p-4 fw-bold">One Passion. One Family.</h1>
                <div class="col-lg-8 mx-auto">
                    <p class="mb-4 pb-4">Welcome to the Cill na Martra Pool Club website. Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Fugiat quas velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eos inventore 
                        corporis similique optio labore eius quibusdam sunt, sint quasi earum dicta ipsam expedita doloremque accusantium 
                        blanditiis fuga esse. Debitis!</p>
                <div class="d-grid gap-3 p-4 d-sm-flex justify-content-sm-center shadow">
                    <button type="button" class="btn btn-primary btn-lg px-4 shadow">Register Now!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap custom 'Club Features' cards-->
    <div class="container px-4 pt-5" id="custom-cards">
        <div class="col-12 text-center" >
        <h2 class="pt-3 pb-2">Why Join?</h2>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 feature-cards-home" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='images/features-cards/cpc-features-card-mohamed-m-xZgMujtsbS4-unsplash.jpg') }}); background-size: cover; background-position: center;">
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Play the game you Love</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='images/cpc-hero-apa-pool-players.png') }}); background-size: contain; background-repeat: no-repeat; background-position: center;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Play to Win!</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='images/features-cards/cpc-feature-yrki-nieminen-90D0inZiIBo-unsplash-550.jpeg') }}); background-size: cover; background-position: center;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Meet new people</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap custom 'Club Features' cards-->
    <!-- Club description card-->
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 py-4 my-4 text-center rounded shadow hero-div">
                <div class="col-lg-8 mx-auto">
                    <p class=" mb-4 pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio possimus, a necessitatibus 
                        doloribus dolorum quaerat expedita in, praesentium repudiandae modi ipsam, voluptates adipisci voluptatibus 
                        numquam dicta maxime fuga et molestiae. Quickly design and customize responsive mobile-first sites with Bootstrap, 
                        the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, 
                        extensive prebuilt components, and powerful JavaScript plugins.
                    </p>
            </div>
        </div>
    </div>

    <!-- Bootstrap Carousel for sponsor banners and messaging -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div id="sponsorCarousel" class="carousel sponsor-banner-carousel col-6 slide text-center p-5" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{{ url_for('static', filename='images/banners/cpc-delta-banner-900x100.png') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                    </div>
                    <div class="carousel-item" data-bs-interval="3000"">
                        <img height="100%" src="{{ url_for('static', filename='images/carousel/cpc-carousel-carla-oliveira-21FqSKZQGzI-unsplash-1428x600.jpeg') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                    </div>
                    <div class="carousel-item" data-bs-interval="3000"">
                        <img height="100%" src="{{ url_for('static', filename='images/carousel/cpc-carousel-markus-winkler-Dtz_-wZV4Os-unsplash-1660x600.jpeg') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap Carousel for sponsor banners and messaging -->
       
    <div class="container-fluid"w
        <div class="rox justify-content-center">
            <div class="col-12 text-center">
                {% for user in user %}
                    <p>{{ user.firstname }} <strong> "{{ user.nickname }}" </strong> {{ user.surname }}<br>
                    Email: {{ user.email }}<br>
                    Mobile Phone: {{ user.telephone }}<br>
                    <hr>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}