{% extends "base.html" %}
{% set active_page = "menu3" %}
{% block content %}

    <!-- Bootstrap Carousel for hero banners and messaging -->
    <div class="container-fluid">
        <div class="row">
            <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{{ url_for('static', filename='images/carousel/cpc-carouselkenneth-john-dela-vega-IxhEXghSWEA-unsplash-1719x600.jpeg') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                        <div class="container">
                            <div class="carousel-caption">
                                <h1><strong class=display-1" >SHARKS</strong> need apply..</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="{{ url_for('register') }}">Sign Up today</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000"">
                        <img height="100%" src="{{ url_for('static', filename='images/carousel/cpc-carousel-carla-oliveira-21FqSKZQGzI-unsplash-1428x600.jpeg') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Take a <strong>BREAK</strong> with us..</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="{{ url_for('register') }}">Sign Up today</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000"">
                        <img height="100%" src="{{ url_for('static', filename='images/carousel/cpc-carousel-markus-winkler-Dtz_-wZV4Os-unsplash-1660x600.jpeg') }}" class="d-block w-100" alt="Emy Unsplash Food Photo"> 
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Compete. <strong>WIN.</strong> Repeat.</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="{{ url_for('register') }}">Sign Up today</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap Carousel for hero banners and messaging -->
    <!-- Club introduction messaging -->
    <div class="container-fluid">
        <div class="row">
            <div class="px-3 py-4 text-center rounded shadow hero-div">
                <h1 class="display-4 p-4 fw-bold">One Passion. One Family.</h1>
                <div class="col-lg-8 mx-auto">
                    <p class="mb-4 pb-4">Welcome to the Cill na Martra Pool Club website. Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Fugiat quas velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eos inventore 
                        corporis similique optio labore eius quibusdam sunt, sint quasi earum dicta ipsam expedita doloremque accusantium 
                        blanditiis fuga esse. Debitis!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END of introduction messaging -->
    <!-- Bootstrap club Features cards-->
    <div class="container px-4 pt-4" id="custom-cards">
        <div class="col-12 text-center" >
            <h2 class="pt-3 pb-2">Why Join?</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="px-3 py-4 my-4 text-center rounded shadow hero-div">
                    <div class="col-lg-8 mx-auto">
                        <p class=" mb-4 pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio possimus, a necessitatibus 
                            doloribus dolorum quaerat expedita in, praesentium repudiandae modi ipsam, voluptates adipisci voluptatibus 
                            numquam dicta maxime fuga et molestiae.
                        </p>
                        <div class="d-grid gap-3 p-4 d-sm-flex justify-content-sm-center shadow">
                            <a class="btn btn-lg btn-primary" href="{{ url_for('register') }}">Join Today!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pt-3 pb-4">
            <div class="col text-center">
                <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 feature-cards-home" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='images/features-cards/cpc-features-card-mohamed-m-xZgMujtsbS4-unsplash.jpg') }}); background-size: cover; background-position: center;">
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Play the game you Love</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='images/cpc-hero-apa-pool-players.png') }}); background-size: contain; background-repeat: no-repeat; background-position: top;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Play to Win!</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='images/features-cards/cpc-feature-yrki-nieminen-90D0inZiIBo-unsplash-550.jpeg') }}); background-size: cover; background-position: center;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Meet new people</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap club features cards -->
    <!-- Bootstrap League tables cards -->
    <div class="container px-4 pt-2" id="custom-cards">
        <div class="col-12 text-center" >
            <h2 class="pt-3 pb-2">League Stats</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="px-3 py-4 my-4 text-center rounded shadow hero-div">
                    <div class="col-lg-8 mx-auto">
                        <p class=" mb-4 pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio possimus, a necessitatibus 
                            doloribus dolorum quaerat expedita in, praesentium repudiandae modi ipsam, voluptates adipisci voluptatibus 
                            numquam dicta maxime fuga et molestiae.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-md-1 row-cols-lg-2 align-items-stretch justify-content-center g-4 py-4">
            <div class="col-12 col-md-6">
                <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 feature-cards-home" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='images/features-cards/giorgio-trovato-_XTY6lD8jgM-unsplash-500px.jpeg') }}); background-size: cover;  background-position: top;">
                        <h2 class="pt-2 mt-2 mb-2 display-7 lh-1 fw-bold text-center">Current League Table</h2>
                        <p class="lead text-center">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-lg btn-primary mb-3 form-submit-button" href="{{ url_for('league') }}">League Table</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url({{ url_for('static', filename='images/cpc-hero-apa-pool-players.png') }}); background-size: contain; background-repeat: no-repeat; background-position: center;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-2 mt-2 mb-2 display-7 lh-1 fw-bold text-center">Past League Tables</h2>
                        <p class="lead text-center">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-lg btn-primary mb-3 form-submit-button" href="{{ url_for('archive') }}">League Archive</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap League tables cards -->
    <!-- Bootstrap contact form -->
    <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12 text-center" >
                <h2 class="pt-3 pb-2">Got a Question?</h2>
            </div>    
            <div class="col-12">
                <div class="card border-danger text-center w-75 my-3 mx-5 mx-auto">
                    <div class="login-card-img-holder p-5 pb-3">
                    <i class="far fa-comments card-icons"></i>
                    </div>
                    <div class="card-body top-50 start-50">
                        <h3 class="card-title pb-4">Contact Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ex velit quam quisquam animi alias pariatur laudantium tenetur adipisci, iusto aut, at necessitatibus, exercitationem molestias iure dolores voluptates ipsa magni.</p>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <form id="contact-us-form" class="form w-75 needs-validation" method="POST" novalidate>
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <label for="from_first_name"></label>
                                                <span class="input-group-text" id="from_first_name"><i class="fas fa-user"></i></span>
                                                <input type="text" name="from_first_name" class="form-control" placeholder="Enter First Name" aria-label="from_first_name" aria-describedby="from_first_name" autocomplete="given-name" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type your First Name.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="surname"><i class="far fa-user"></i></span>
                                                <input type="text" name="surname" class="form-control" placeholder="Enter Surname" aria-label="surname" aria-describedby="surname" autocomplete="family-name" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type your Surname.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="from_email"><i class="fas fa-at"></i></span>
                                                <input type="email" name="from_email" class="form-control" placeholder="Email Address" aria-label="from_email" aria-describedby="from_email" autocomplete="email" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type a valid Email Address.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="tel_number"><i class="fas fa-mobile-alt"></i></span>
                                                <input type="tel" name="tel_number" class="form-control" placeholder="Mobile Number" aria-label="tel_number" aria-describedby="tel_name" autocomplete="tel-national" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type a Mobile Number.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="message"><i class="far fa-file-alt"></i></span>
                                                <textarea class="form-control" id="message" name="message" placeholder="Type your Message here.." rows="5" aria-label="message" aria-describedby="message" required></textarea>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Password.
                                                </div>
                                            </div>
                                            <div class="input-group m-auto text-center">
                                                <button type="submit" id="contact-us-submit-btn" value="Send" class="btn btn-primary mb-3 form-submit-button">Send Message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- test code for retrieving user collection
    <div class="container-fluid">
        <div class="rox justify-content-center">
            <div class="col-12 text-center">
                {% for user in user %}
                    <p>{{ user.firstname }} <strong> "{{ user.nickname }}" </strong> {{ user.surname }}<br>
                    Email: {{ user.email }}<br>
                    Mobile Phone: {{ user.telephone }}<br>
                    Admin: {{ user.admin }}<br>
                    <hr>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div> -->
   
    
{% endblock %}