{% extends "base.html" %}
{% set active_page = "menu3" %}
{% block content %}

    <!-- Bootstrap Carousel for hero banners and messaging -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="4500">
                            <img src="{{ url_for('static', filename='images/carousel/cpc-carousel-kenneth-john-dela-vega-IxhEXghSWEA-unsplash-1428x600.png') }}"
                                class="d-block w-100" alt="Kenneth John Dela Vega Pool Table Photo">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1><strong>SHARKS</strong> need apply..</h1>
                                    <p class="lead">Join the action for fun, competition, and sharks!</p>
                                    <p><a class="btn btn-lg btn-primary" href="{{ url_for('register') }}">Sign Me Up!</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="4500">
                            <img src="{{ url_for('static', filename='images/carousel/cpc-carousel-carla-oliveira-21FqSKZQGzI-unsplash-1428x600.jpeg') }}"
                                class="d-block w-100" alt="Carla Oliviera Pool Table Photo">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Take a <strong>BREAK</strong> with us..</h1>
                                    <p class="lead">Make new friends and enjoy some friendly competition</p>
                                    <p><a class="btn btn-lg btn-primary" href="{{ url_for('register') }}">Sign Me Up!</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="4500">
                            <img src="{{ url_for('static', filename='images/carousel/cpc-carousel-markus-winkler-Dtz_-wZV4Os-unsplash-1428x600.png') }}"
                                class="d-block w-100" alt="Markus Winkler Pool Table Photo">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Compete. <strong>WIN.</strong> Repeat.</h1>
                                    <p class="lead">Come for the craic and stay for the competition</p>
                                    <p><a class="btn btn-lg btn-primary" href="{{ url_for('register') }}">Sign Me Up!</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END of Bootstrap Carousel for hero banners and messaging -->
    <!-- Club introduction messaging -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="px-3 py-4 text-center rounded shadow hero-div">
                    <h1 class="display-4 p-4 fw-bold">One Passion. One Family.</h1>
                    <div class="col-lg-8 mx-auto mb">
                        <p class="introduction mb-2 pb-2">Welcome to the Cill na Martra Pool Club website. Our Pool Club
                            was setup in 2012, when a group of 6 pool players began meeting for an evening of
                            pool and banter on Friday evenings at O'Murchu's Bar in Cill na Martra. Since then our
                            membership has grown to over 30
                            players, who now play in 2 pool leagues each year. We run a Summer league and a Winter
                            league. Club members enjoy being part of a Club where they can meet new people, improve
                            their pool skills, all while enjoying a healthy dose of fun. Players of all shapes,
                            sizes, and abililities are invited to join. You will be met with a warm welcome, and if
                            you are a beginner you will find plenty of help and advice. Don't be shy, sign up today!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END of introduction messaging -->
    <!-- Bootstrap club Features cards-->
    <section>
        <div class="container px-4 pt-4">
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pt-3 pb-4">
                <div class="col text-center">
                    <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 feature-cards-home"
                            style="background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));url({{ url_for('static', filename='images/features-cards/cpc-features-card-mohamed-m-xZgMujtsbS4-unsplash.jpg') }});background-size:cover;background-position:center;">
                            <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Play the game you Love</h2>
                            <p class="lead">Enjoy a great sport whether you're a seasoned shark or an absolute beginner.</p>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                        style="background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));url({{ url_for('static', filename='images/features-cards/cpc-hero-apa-pool-players.png') }});background-size:contain;background-repeat:no-repeat;background-position:top;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Play to Win!</h2>
                            <p class="lead">Feel the heat of League matches</p>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                        style="background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));url({{ url_for('static', filename='images/features-cards/cpc-feature-yrki-nieminen-90D0inZiIBo-unsplash-550.jpeg') }});background-size:cover;background-position:center;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Meet new people</h2>
                            <p class="lead">Make new friends or meet old ones</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <h2 class="pt-3 pb-2">Why Join?</h2>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="px-3 py-4 my-4 text-center rounded shadow hero-div">
                        <div class="col-lg-8 mx-auto">
                            <i class="fas fa-star-of-life card-icons"></i>
                            <p class=" my-4">Pool is as much a social sport as competitive one. Members have a place where
                                they can meet friends and make
                                new ones. In addition Pool is healthy and benefical sport. You will burn calories and buidl
                                musle tone as you are walking, bending,
                                and strtching at the table. It improves critical thinking, builds your ability to focus, and
                                sharpens your mind. Once a new rack is
                                broken, there an infinite number of possibilities for how best to play your game. The best
                                pool players are the ones who make wise
                                shot decisions, as opposed to those with great cueing skills.
                            </p>
                            <p class=" my-4">And at our Club we do it all with a healthy doe of good craic. Feel free to
                                come along on a Friday night to see for yourself how enjoyable a few frames of Pool can be.
                            </p>
                            <div class="d-grid gap-3 p-4 d-sm-flex justify-content-sm-center shadow">
                                <a class="btn btn-lg btn-primary" href="{{ url_for('register') }}">Join Today!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END of Bootstrap club features cards -->
    <!-- Bootstrap League tables cards -->
    <section>
        <div class="container px-4 pt-2">
            <div class="col-12 text-center">
                <h2 class="pt-3 pb-2">League Tables</h2>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="px-3 py-4 my-4 text-center rounded shadow hero-div">
                        <div class="col-lg-8 mx-auto">
                            <i class="fas fa-folder-plus text-center card-icons"></i>
                            <p class=" my-4">Once you sign up and join our Club, you will automatically be entered into
                                our Pool Leagues. Leagues run twice a year. Each player must play a match against every
                                other player twice.
                                A player wins a match once they win 3 games (or the best of 5 games). Points are given for
                                winning zero games
                                (1 point), winning 1 game (2 points), winning 2 games (3 points), and winning 3 games (4
                                points).
                            </p>
                            <p class=" my-4">Click on the buttons below to see the current league table, and to view
                                previous league tables.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-md-1 row-cols-lg-2 align-items-stretch justify-content-center g-4 py-4">
                <div class="col-12 col-md-6">
                    <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 feature-cards-home"
                            style="background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));url({{ url_for('static', filename='images/features-cards/cpc-league-feature-giorgio-trovato-_XTY6lD8jgM-unsplash-500px.jpeg') }});background-size:cover;background-position:top;">
                            <h2 class="pt-2 mt-2 mb-2 display-7 lh-1 fw-bold text-center">Current League Table</h2>
                            <p class="lead text-center">Click the button below to view the current League Table</p>
                            <a class="btn btn-lg btn-primary mb-3 form-submit-button" href="{{ url_for('league') }}">League
                                Table</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                        style="background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));url({{ url_for('static', filename='images/features-cards/cpc-archive-feature-c-m-X_j3b4rqnlk-unsplash-700px.png') }});background-size:cover;background-repeat:no-repeat;background-position:center;">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-2 mt-2 mb-2 display-7 lh-1 fw-bold text-center">League Archive</h2>
                            <h3 class="pulsate pt-4 text-center"><strong>Coming soon!</strong></h3>
                            <button class="btn btn-warning mb-3 form-submit-button">Coming Soon..</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END of Bootstrap League tables cards -->
    <!-- Bootstrap contact form -->
    <section>
        <div class="contanier-fluid h-100 m-2">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="pt-3 pb-2">Got a Question?</h2>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 card text-center w-75 my-3 mx-5 mx-auto">
                            <div class="card-body pt-4">
                                <div class="mt-3">
                                    <i class="far fa-comments card-icons"></i>
                                </div>
                                <div class="contact-intro mx-5 p-4 py-5">
                                    <p>Feel free to get in touch by calling the telephone number below, sending us an email, or
                                        by completing the contact form.</p>
                                </div>
                                <div class="mx-4 py-2">
                                    <table class="table table-font table-dark table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Telephone</th>
                                                <th scope="col">087 - 5436 2312</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Email</th>
                                                <td>andy@cpc.ie</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h5 class="card-title py-4">Contact Form</h5>
                                <div class="container-fluid">
                                    <div class="row justify-content-center">
                                        <div class="col-12 form-div text-center">
                                            <form id="contact-us-form" class="form w-75 needs-validation" method="POST"
                                                novalidate>
                                                <div class="form-group">
                                                    <div class="input-group mb-4">
                                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                        <input type="text" id="from_first_name" name="from_first_name"
                                                            class="form-control" placeholder="Enter First Name"
                                                            aria-label="from_first_name" aria-describedby="from_first_name"
                                                            autocomplete="given-name" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please type your First Name.
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-4">
                                                        <span class="input-group-text"><i class="far fa-user"></i></span>
                                                        <input type="text" id="last_name" name="last_name" class="form-control"
                                                            placeholder="Enter Surname" aria-label="last_name"
                                                            aria-describedby="last_name" autocomplete="family-name" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please type your Surname.
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-4">
                                                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                                                        <input type="email" id="from_email_address" name="from_email_address"
                                                            class="form-control" placeholder="Email Address"
                                                            aria-label="from_email_address"
                                                            aria-describedby="from_email_address" autocomplete="email" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please type a valid Email Address.
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-4">
                                                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                                                        <input type="tel" id="telephone_number" name="telephone_number"
                                                            class="form-control" placeholder="Telephone Number"
                                                            aria-label="telephone_number" aria-describedby="telephone_number"
                                                            required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please type a Mobile Number.
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-4">
                                                        <span class="input-group-text"><i class="far fa-file-alt"></i></span>
                                                        <textarea class="form-control" id="from_message" name="message"
                                                            placeholder="Type your Message here.." rows="5"
                                                            aria-label="from_message" aria-describedby="from_message"
                                                            required></textarea>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please choose a Password.
                                                        </div>
                                                    </div>
                                                    <div class="input-group m-auto text-center pb-5">
                                                        <button type="submit" id="contact-us-submit-btn" value="Send Email"
                                                            class="btn btn-primary mb-3 form-submit-button">Send
                                                            Message</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}