{% extends "base.html" %}
{% set active_page = "menu2" %}
{% block content %}

   <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="pt-1 text-center">
                    <a class="btn btn-primary" href="{{ url_for('user') }}"> <i class="far fa-arrow-alt-circle-left"></i> Back </a>
                </div>
                <div class="card border-danger text-center w-75 my-4 mx-5 mx-auto">
                    <div class="login-card-img-holder pt-5">
                    <img src="{{ url_for('static', filename='images/template-header/cpc-8ball-www-vhv-rs-Daco_5283638-100px.png') }}" class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                    </div>
                    <div class="card-body top-50 start-50">
                        <h3 class="card-title pt-4 pb-4">Log In</h3>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <form action="{{ url_for('login') }}" class="form w-75 needs-validation" method="POST" novalidate>
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="email"><i class="fas fa-at"></i></span>
                                                <input type="email" name="email" class="form-control" placeholder="Enter Email Address" aria-label="email" aria-describedby="email" autocomplete="email" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type a valid Email Address.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
                                                <input type="password" name="password" class="form-control" placeholder="Enter Password" aria-label="password"" aria-describedby="password" autocomplete="new-password" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Password.
                                                </div>
                                            </div>
                                            <div class="input-group m-auto text-center">
                                                <button type="submit" class="btn btn-primary mb-3 form-submit-button">Log In</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-1 text-center">
                    <a class="btn btn-primary" href="{{ url_for('user') }}"> <i class="far fa-arrow-alt-circle-left"></i> Back </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="text-center">
                New Here? <a href="{{ url_for('register') }}" class="">Register</a>
            </p>
        </div>
    </div>
    
{% endblock %}