{% extends "base.html" %}
{% block content %}

    <!-- Player Edit Account page view -->
    <section>
        <div class="contanier-fluid h-100 m-2">
            <div class="row">
                <div class="col-12">
                    <!-- Back button -->
                    <div class="pt-1 text-center">
                        <a class="btn btn-primary" href="{{ url_for('player_home', first_name=session['user']) }}"> <i
                                class="far fa-arrow-alt-circle-left"></i> Back </a>
                    </div>
                    <!-- END of Back button -->
                    <!-- Edit Account card and form -->
                    <div class="card border-danger text-center w-75 my-3 mx-5 mx-auto">
                        <div class="login-card-img-holder p-5 pb-3">
                            <img src="{{ url_for('static', filename='images/template-header/cpc-8ball-www-vhv-rs-Daco_5283638-100px.png') }}"
                                class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                        </div>
                        <div class="card-body top-50 start-50">
                            <h3 class="card-title pb-4">Edit Your Account</h3>
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-12 form-div">
                                        <form action="{{ url_for('player_edit_account') }}" class="form w-75 needs-validation"
                                            method="POST"
                                            oninput='password.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'
                                            novalidate>
                                            <div class="form-group">
                                                <div class="input-group mb-4">
                                                    <span class="input-group-text" id="first_name"><i
                                                            class="fas fa-user"></i></span>
                                                    <input type="text" name="first_name" class="form-control"
                                                        value="{{ player.first_name }}" aria-label="first_name"
                                                        aria-describedby="first_name" autocomplete="given-name" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please type your First Name.
                                                    </div>
                                                </div>
                                                <div class="input-group mb-4">
                                                    <span class="input-group-text" id="nickname"><i
                                                            class="far fa-user"></i></span>
                                                    <input type="text" name="nickname" class="form-control"
                                                        value="{{ player.nickname }}" aria-label="nickname"
                                                        aria-describedby="nickname" autocomplete="nickname" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please type your Nickname.
                                                    </div>
                                                </div>
                                                <div class="input-group mb-4">
                                                    <span class="input-group-text" id="surname"><i
                                                            class="fas fa-user"></i></span>
                                                    <input type="text" name="surname" class="form-control"
                                                        value="{{ player.surname }}" aria-label="surname"
                                                        aria-describedby="surname" autocomplete="family-name" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please type your Surname.
                                                    </div>
                                                </div>
                                                <div class="input-group mb-4">
                                                    <span class="input-group-text" id="email"><i class="fas fa-at"></i></span>
                                                    <input type="email" name="email" class="form-control"
                                                        value="{{ player.email }}" aria-label="email" aria-describedby="email"
                                                        autocomplete="email" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please type a valid Email Address.
                                                    </div>
                                                </div>
                                                <div class="input-group mb-4">
                                                    <span class="input-group-text" id="telephone"><i
                                                            class="fas fa-mobile-alt"></i></span>
                                                    <input type="tel" name="telephone" class="form-control"
                                                        value="{{ player.telephone }}" aria-label="telephone"
                                                        aria-label="telephone" aria-describedby="telephone" autocomplete="off"
                                                        required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please type a Mobile Number.
                                                    </div>
                                                </div>
                                                <div class="input-group mb-4">
                                                    <span class="input-group-text" id="password"><i
                                                            class="fas fa-key"></i></span>
                                                    <input type="password" name="password" class="form-control" minlength="5"
                                                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                                                        placeholder="Enter your Password"
                                                        aria-label="password"" aria-describedby=" password"
                                                        autocomplete="new-password" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please choose a Password.
                                                    </div>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="password"><i
                                                            class="fas fa-lock"></i></span>
                                                    <input type="password" name="password" class="form-control" minlength="5"
                                                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                                                        placeholder="Confirm Password"
                                                        aria-label="password"" aria-describedby=" password"
                                                        autocomplete="new-password" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Those Passwords do not match.
                                                    </div>
                                                </div>
                                                <div class="mb-4 text-center">
                                                <span><small>*Passwords must be 5-15 charachters and contain only letters and
                                                        numbers</small></span>
                                                </div>
                                                <div class="input-group m-auto text-center">
                                                    <button type="submit" class="btn btn-primary mb-3 form-submit-button">Update
                                                        Account</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END of Edit Account card and form -->
                    <!-- Back button -->
                    <div class="pt-1 text-center">
                        <a class="btn btn-primary" href="{{ url_for('player_home', first_name=session['user']) }}"> <i
                                class="far fa-arrow-alt-circle-left"></i> Back </a>
                    </div>
                    <!-- END of Back button -->
                </div>
            </div>
        </div>
    </section>
    <!-- END of Player Edit Account page view -->
{% endblock %}