{% extends "base.html" %}
{% block content %}

   <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="text-center">
                    {{ playerhome }}
                </h3>
            </div>
        </div>
    </div>
    <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="card border-danger text-center rounded-5 shadow-lg w-75 my-4 mx-5 mx-auto">
                    <div class="login-card-img-holder pt-5">
                    <img src="{{ url_for('static', filename='images/www-vhv-rs-Daco_5283638-100px.png') }}" class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                    </div>
                    <div class="card-body top-50 start-50 text-shadow-1">
                        <h2>Player Home</h2>
                        <h4 class="card-title pt-4 pb-4">{{ player.firstname }} "{{ player.nickname }}" {{ player.surname }} </h4>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('addmatch') }}"> Add Match Result</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('mystats') }}"> My Active League Stats</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('mymatchlist') }}"> My Match List</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('playercontact') }}"> Find Player Details</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('playerarchive') }}"> Past League Stats</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('editplayer') }}"> Edit Account Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap custom 'Club Features' cards-->
    <div class="container px-4 pt-5" id="custom-cards">
        <div class="col-12 text-center" >
        <h2 class="pt-3 pb-2">Why Join?</h2>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                    <div class="d-flex flex-column h-100 p-2 pb-3 text-white text-shadow-1 feature-cards-home">
                        <i class="fas fa-scroll"></i>
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">My League Stats</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('mystats') }}"> Get Stats</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
                    <div class="d-flex flex-column h-100 p-1 pb-3 text-white text-shadow-1">
                        <i class="fas fa-clipboard-list"></i>
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">My Match List</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                        <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('mymatchlist') }}"> Get List</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Meet new people</h2>
                        <p class="lead">Improve your Pool skills, as well as yu hand-eye coordination and concentration skills</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END of Bootstrap custom 'Club Features' cards-->
    
{% endblock %}