{% extends "base.html" %}
{% block content %}

   <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="text-center">
                    {{ playerhome }}
                </h3>
            </div>
        </div>
    </div>
    <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="card border-danger text-center rounded-5 shadow-lg w-75 my-4 mx-5 mx-auto">
                    <div class="login-card-img-holder pt-5">
                    <img src="{{ url_for('static', filename='images/www-vhv-rs-Daco_5283638-100px.png') }}" class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                    </div>
                    <div class="card-body top-50 start-50 text-shadow-1">
                        <h2>Player Home</h2>
                        <h4 class="card-title pt-4 pb-4">{{ player.firstname }} "{{ player.nickname }}" {{ player.surname }} </h4>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('addmatch') }}"> Add Match Result</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('mystats') }}"> My Active League Stats</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('mymatchlist') }}"> My Match List</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('playercontact') }}"> Find Player Details</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('playerarchive') }}"> Past League Stats</a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('editplayer') }}"> Edit Account Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}