{% extends "base.html" %}
{% block content %}

    <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="card border-danger text-center w-75 my-4 mx-5 mx-auto">
                    <div class="login-card-img-holder pt-5">
                    <img src="{{ url_for('static', filename='images/www-vhv-rs-Daco_5283638-100px.png') }}" class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                    </div>
                    <div class="card-body top-50 start-50">
                        <h2 class="card-title pt-4 pb-4">Player League Stats</h2>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-10 text-center p-3">
                                    <h4>
                                        Current League:
                                    </h4>
                                    <h4>
                                        *Current League Name*
                                    </h4>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-8 p-2 pt-3">
                                        <table class="table table-dark table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">RANK</th>
                                                    <th scope="col">*1*</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">POINTS</th>
                                                    <td>*47*</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">MATCHED PLAYED:</th>
                                                    <td> *X* / 30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">MATCHES FOR:</th>
                                                    <td>*X*</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">MATCHES AGAINST:</th>
                                                    <td>*X*</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">GAMES FOR:</th>
                                                    <td>*X*</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">GAMES AGAINST:</th>
                                                    <td>*X*</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}