{% extends "base.html" %}
{% set active_page = "menu4" %}
{% block content %}

    <!-- Player Homepage title card -->
    <section>
        <div class="contanier-fluid h-100 m-2">
            <div class="row">
                <div class="col-12">
                    <div class="card border-danger text-center rounded-5 shadow-lg w-75 my-4 mx-5 mx-auto">
                        <div class="login-card-img-holder p-5 pb-3">
                            <img src="{{ url_for('static', filename='images/template-header/stick-png-580b585b2edbce24c47b2-100px.png') }}"
                                class="" alt="VHV-RS Daco-5283638 Pool Ball Photo">
                        </div>
                        <div class="card-body top-50 start-50 text-shadow-1 pb-5">
                            <h1>Player Home</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END of Player Homepage title card -->
    <!-- Player functions - Bootstrap custom cards-->
    <section>
        <div class="container px-4 pt-2" id="custom-cards">
            <div>
                <h4 class="text-center pt-1 pb-2">Player: {{ user.first_name }} "{{ user.nickname }}" {{ user.surname }}</h4>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-4">
                <div class="col card-group">
                    <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                            <i class="fas fa-star text-center card-icons"></i>
                            <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">My League Stats</h4>
                            <p>Click the button the view your current League stats including your current points tally</p>
                            <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('player_stats') }}">Get My
                                Stats</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                            <i class="fas fa-user-edit card-icons"></i>
                            <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">Edit My Account</h4>
                            <p>Click the button below to view and edit your account information</p>
                            <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('player_edit_account') }}">Edit
                                My Account</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                            <i class="fas fa-poll card-icons"></i>
                            <h4 class="p-2 mt-3 mb-4 display-7 lh-1 fw-bold">Add Match Result</h4>
                            <p>Click the button if you acted as a referee and want to record a match result and update the
                                current League Table</p>
                            <a class="btn btn-primary mb-3 form-submit-button" href="{{ url_for('add_match') }}">Add Match
                                Result</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pb-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                            <i class="fas fa-clipboard-list card-icons"></i>
                            <h4 class="p-2 mt-3 mb-2 display-7 lh-1 fw-bold">My Match List</h4>
                            <h3 class="text-warning pt-2"><strong>Coming Soon!</strong></h3>
                            <a class="btn btn-warning mb-3 form-submit-button" href="">Coming Soon..</a>
                        </div>
                    </div>
                </div>
                <div class="col card-group">
                    <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                            <i class="fas fa-id-badge text-center card-icons"></i>
                            <h4 class="p-2 mt-3 mb-2 display-7 lh-1 fw-bold">Find A Player</h4>
                            <h3 class="text-warning pt-2"><strong>Coming Soon!</strong></h3>
                            <a class="btn btn-warning mb-3 form-submit-button" href="">Coming Soon..</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                        <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-3 feature-cards-home text-center">
                            <i class="fas fa-history card-icons"></i>
                            <h4 class="p-2 mt-3 mb-2 display-7 lh-1 fw-bold">My League History</h4>
                            <h3 class="text-warning pt-2"><strong>Coming Soon!</strong></h3>
                            <a class="btn btn-warning mb-3 form-submit-button" href="">Coming Soon..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END of Player functions - Bootstrap custom cards-->
{% endblock %}