{% extends "base.html" %}
{% set active_page = "menu1" %}
{% block content %}

    <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="card border-danger text-center w-75 my-4 mx-5 mx-auto">
                    <div>
                    <img src="{{ url_for('static', filename='images/ricardo-velasquez-7ZqraEtt_K4-unsplash.jpg') }}" class="card-img-top" alt="Unsplash Ricardo Velasquez Pool Table Photo">
                    </div>
                    <div class="card-img-overlay">
                        <h1 class="card-title">Join us today!</h1>
                    </div>
                    <div class="card-body top-50 start-50">
                        <div class="card-description p-4">
                            <h3>Why join?</h3>
                            <br>
                            <p>
                                Pool is an indoor sport which can be played competitively or socially. Snooker, billiards & pool are skilful games that can 
                                be played by anyone, regardless of age, gender or ability. 	Cue sports provide a fun and sociable way to stay active, 
                                improve your concentration and increase your strength and muscle control. Once you've mastered the skills, you could enter 
                                local league matches and amateur level competitions across the country. Cue sports are very inclusive as the rules and 
                                equipment are the same for able-bodied and disabled players. 
                            </p>
                        </div>
                        <h3 class="card-title pt-4 pb-4">Registration Form</h3>
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <div class="col-12 form-div">
                                    <form action="{{ url_for('register') }}" class="form w-75 needs-validation" method="POST" oninput='password.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")' novalidate>
                                        <div class="form-group">
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="firstname"><i class="fas fa-user"></i></span>
                                                <input type="text" name="firstname" class="form-control" placeholder="First Name" aria-label="firstname" aria-describedby="firstname" autocomplete="given-name" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type your First Name.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="nickname"><i class="far fa-user"></i></span>
                                                <input type="text" name="nickname" class="form-control" placeholder="Nickname" aria-label="nickname" aria-describedby="nickname" autocomplete="nickname" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type your Nickname.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="surname"><i class="fas fa-user"></i></span>
                                                <input type="text" name="surname" class="form-control" placeholder="Surname" aria-label="surname" aria-describedby="surname" autocomplete="family-name" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type your Surname.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="email"><i class="fas fa-at"></i></span>
                                                <input type="email" name="email" class="form-control" placeholder="Email Address" aria-label="email" aria-describedby="email" autocomplete="email" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type a valid Email Address.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="telephone"><i class="fas fa-mobile-alt"></i></span>
                                                <input type="tel" name="telephone" class="form-control" placeholder="Mobile Number" aria-label="telephone" aria-describedby="telephone" autocomplete="tel-national" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please type a Mobile Number.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
                                                <input type="password" name="password" class="form-control" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" placeholder="Choose a Password" aria-label="password"" aria-describedby="password" autocomplete="new-password" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please choose a Password.
                                                </div>
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-text" id="password2"><i class="fas fa-lock"></i></span>
                                                <input type="password2" name="password2" class="form-control" placeholder="Confirm Password" aria-label="password2"" aria-describedby="password2" autocomplete="new-password">
                                                <span>*Passwords must be 5-15 charachters and contain only letters and numbers</span>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Those Passwords do not match.
                                                </div>
                                            </div>
                                            <div class="input-group m-auto text-center">
                                                <button type="submit" class="btn btn-primary mb-3 form-submit-button">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="text-center">
                Already Registered? <a href="{{ url_for('login') }}" class="">Log In</a>
            </p>
        </div>
    </div>
   
{% endblock %}