{% extends "base.html" %}
{% block content %}

    <div class="contanier-fluid h-100 m-2">
        <div class="row">
            <div class="col-12">
                <div class="card border-danger text-center w-75 my-4 mx-5 mx-auto">
                    <div>
                    <img src="{{ url_for('static', filename='images/ricardo-velasquez-7ZqraEtt_K4-unsplash.jpg') }}" class="card-img-top" alt="Unsplash Ricardo Velasquez Pool Table Photo">
                    </div>
                    <div class="card-img-overlay">
                        <h1 class="card-title">Join our Club today!</h1>
                    </div>
                    <div class="card-body top-50 start-50">
                        <div class="card-description p-4">
                            <h3>Why join?</h3>
                            <br>
                            <p>
                                Pool is an indoor sport which can be played competitively or socially. Snooker, billiards & pool are skilful games that can 
                                be played by anyone, regardless of age, gender or ability. 	Cue sports provide a fun and sociable way to stay active, 
                                improve your concentration and increase your strength and muscle control. Once you've mastered the skills, you could enter 
                                local league matches and amateur level competitions across the country. Cue sports are very inclusive as the rules and 
                                equipment are the same for able-bodied and disabled players. 
                            </p>
                        </div>
                        <hr>
                        <h3 class="card-title pt-4 pb-4">Registration Form</h3>
                        <span>All Fields Required</span>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 form-div">
                                    <form action="newaccount" class="form w-75" method=post oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="firstName"><i class="fas fa-user"></i></span>
                                                <input type="text" class="form-control" placeholder="First Name" aria-label="firstName" aria-describedby="firstName">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="nickname"><i class="far fa-user"></i></span>
                                                <input type="text" class="form-control" placeholder="Nickname" aria-label="nickname" aria-describedby="nickname">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="surname"><i class="fas fa-user"></i></span>
                                                <input type="text" class="form-control" placeholder="Surname" aria-label="surname" aria-describedby="surname">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="email"><i class="fas fa-at"></i></span>
                                                <input type="text" class="form-control" placeholder="Email Address" aria-label="email" aria-describedby="email">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="telephone"><i class="fas fa-mobile-alt"></i></span>
                                                <input type="text" class="form-control" placeholder="Mobile Number" aria-label="telephone" aria-describedby="telephone">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="password1"><i class="fas fa-key"></i></span>
                                                <input type="text" class="form-control" placeholder="Choose a Password" aria-label="password1"" aria-describedby="password1" name="up">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text" id="password2"><i class="fas fa-lock"></i></span>
                                                <input type="text" class="form-control" placeholder="Confirm Password" aria-label="password2"" aria-describedby="password2" name="up2">
                                            </div>
                                            <div class="mb-3 text-center">
                                                <button type="submit" class="btn btn-primary mb-3">Register</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}